AccessModifierOffset: -2
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
BasedOnStyle: Google
ColumnLimit: 80
ContinuationIndentWidth: 2
IndentAccessModifiers: false
IndentWidth: 4
MaxEmptyLinesToKeep: 1
SpacesInAngles: Never
UseTab: Never
