Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader:
      - "build/.*"
      - "vcpkg/.*"
CompileFlags:
  Add: [
    -DFP_PLUS_PLUS_INCLUDED_FROM_FP_FP=1,
    -isystem/opt/homebrew/opt/llvm/include/c++/v1,
    -isystem/opt/homebrew/opt/llvm/lib/clang/22/include
]
  Remove: [ -Wreserved-identifier ]
  Compiler: /opt/homebrew/opt/llvm/bin/clang++
Index:
  Background: Build
  StandardLibrary: Yes
