# .clang-tidy configuration file

Checks: >
  *, 
  clang-analyzer-*,
  -llvmlibc-*,
  performance-*, 
  -readability-identifier-length.*,
  -readability-identifier-length,
  -llvmlibc-implementation-in-namespace,
  -clang-tidyfuchsia-*,
  -fuchsia-*,
  -llvm-include-order,
  -google-readability-avoid-underscore-in-googletest-name,
  -cert-err58-cpp
# readability-identifier-length.IgnoredExceptionVariableNames,
# readability-identifier-length.MinimumExceptionNameLength,
# readability-identifier-length.MinimumLoopCounterNameLength,
# readability-identifier-length.MinimumParameterNameLength,
# readability-identifier-length.MinimumVariableNameLength,


# # Customize check options
# CheckOptions:
#   - key: readability-identifier-length.MinimumVariableNameLength
#     value: 1
#   - key: readability-identifier-length.MinimumParameterNameLength
#     value: 1
#   - key: readability-identifier-length.MinimumLoopCounterNameLength
#     value: 1
#   - key: readability-identifier-length.MinimumExceptionNameLength
#     value: 3
#   - key: readability-identifier-length.IgnoredExceptionVariableNames
#     value: "e,ex"
  
#   # Performance checks
#   - key: performance-unnecessary-copy-in-loop.Threshold
#     value: 1

#   # Miscellaneous check options
#   - key: clang-analyzer-core.NullDereference
#     value: 1
