AccessModifierOffset: -2
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
BasedOnStyle: Google
BinPackArguments: false
BreakConstructorInitializers: AfterColon
ColumnLimit: 80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ContinuationIndentWidth: 2
IndentAccessModifiers: false
IndentWidth: 4
MaxEmptyLinesToKeep: 2
PenaltyBreakBeforeFirstCallParameter: 0
UseTab: Never
