CheckOptions:
  - {
    key: readability-identider-length.MinimumVariableNameLength,
    value: 1
    }
Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  portability-*,
  misc-*

WarningsAsErrors: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*

HeaderFilterRegex: 'include/fp/.*'
FormatStyle: file
InheritParentConfig: Yes
