./Testing/
.cache/
.DS_Store
.idea/
* copy*
*.log
*~
build/
cmake-build-debug/
CMakeCache.txt
context.md
fp++.cpp
fp++.h
history/
ignore/
scratch.cpp
stash/
third_party/
todo.md
todo.org
todo.org
vcpkg_installed/
